* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}
body {
  font-size: 110%;
  background: rgb(252, 252, 252);
  overflow-x: hidden;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  height: 6rem;
  background: white;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 5px 13px rgb(238, 238, 238);
}
.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}
nav .logo img {
  width: 200px;
  object-fit: cover;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav ul a {
  margin: 0rem 2rem;
  color: black;
}
.arrow {
  width: 11px;
  transition: 0.4s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
}
#arrow-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: black;
  left: 0;
  top: 20;
  transform: rotate(45deg);
}
.list {
  position: relative;
}
.list ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 200%;
  background: white;
  border: rgb(240, 240, 240) 2px solid;
}
.list ul a {
  padding: 1rem 2rem;
  transition: 0.7s ease all;
  width: 100%;
  text-align: center;
}
.list ul a:hover {
  background-color: rgb(240, 240, 240);
}
.header-container{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.header {
  margin-top: 5vh;
  color: white;
  position: relative;
  font-size: 50px;
  border-bottom: 4px black solid;
}
.header-img {
  width: 30%;
  border: 1px solid black;
}