*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    outline: none;
}
body{
    font-size: 110%;
}

nav{
    height: 8rem;
    background: linear-gradient(145deg , rgb(0, 49, 209) , rgb(118, 150, 255));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
nav .logo{
    font-size: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul a {
    margin: 0rem 2rem;   
    color: white; 
}
.items-list{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.items-list a {
    margin: 2rem;
}